// imports
@use "../abstracts/abstracts" as *;

.btn {
  @include textStyles;
  display: inline-block;
  font-size: size(sm);
  padding: 1.5rem 2rem;
  outline: 0;

  &--primary {
    background: linear-gradient(to right, color(cyan), color(blue));
    color: color(white);
    width: 30%;
    border-radius: $radius;
    transition: $mainTransition;
    text-shadow: $textShadow;

    &:hover,
    &:focus {
      transform: translateY(-0.5rem);
    }
  }
}
