// imports
@use "../abstracts/abstracts" as *;

.cta {
  background-color: color(primary-200);
  max-width: 50vw;
  margin: 0 auto;
  border-radius: $cardRadius;
  transform: translateY(14rem);

  &.error {
    .cta__input {
      border: 0.1rem solid color(softRed);
    }

    .cta__input-icon {
      display: block;
    }

    .cta__message {
      display: block;
    }
  }

  @include responsive(sm) {
    transform: translateY(0);
    margin-bottom: 2rem;
  }

  @include responsive(xl) {
    max-width: 80vw;
  }

  @include responsive(md) {
    max-width: 90vw;
  }

  &__content {
    @include flexCenter;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem;
    text-align: center;

    @include responsive(md) {
      padding: 3rem;
    }

    @include responsive(xs) {
      padding: 2rem 1rem;
    }
  }

  &__heading {
    @include headingStyles;
    font-size: size(xl);
  }

  &__desc {
    @include textStyles;
    font-size: size(xs);
    width: 75%;

    @include responsive(md) {
      width: 100%;
    }
  }

  &__form {
    @include flexCenter;
    width: 80%;
    gap: 2rem;
    position: relative;

    @include responsive(lg) {
      flex-direction: column;
    }
  }

  &__input {
    padding: 1.5rem 2rem;
    border-radius: $radius;
    font-size: size(xxs);
    width: 70%;
    border: 0;
    outline: 0;

    &-icon {
      position: absolute;
      width: 2.5rem;
      top: 40%;
      right: 35%;
      display: none;
      color: color(lightRed);
      font-size: size(xxs);

      @include responsive(lg) {
        right: 5%;
        top: 15%;
      }
    }

    @include responsive(lg) {
      width: 100%;
    }
  }

  &__message {
    @include textStyles;
    position: absolute;
    top: -35%;
    left: 5%;
    font-size: size(xxs);
    font-style: italic;
    color: color(lightRed);
    display: none;

    @include responsive(lg) {
      top: -20%;
    }
  }
}
