// imports
@use "../abstracts/abstracts" as *;

.features {
  &__content {
    @include sectionSpacingLg;
    @include maxWidthSm;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
  }

  &__feature {
    @include flexCenter;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  &__icon {
    width: 8rem;

    &--resize {
      width: 6rem;
    }
  }

  &__heading {
    @include headingStyles;
    font-size: size(md);
  }

  &__desc {
    @include textStyles;
    font-size: size(xs);
  }
}
