// imports
@use "../abstracts/abstracts" as *;

.hero {
  background-color: color(primary-200);
  position: relative;
  z-index: 1;
  overflow: hidden;

  &__content {
    @include sectionSpacing;
    @include maxWidthSm;
    @include flexCenter;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }

  &__img {
    width: 50%;
  }

  &__heading {
    @include headingStyles;
    font-size: size(xxl) + 1rem;
  }

  &__desc {
    @include textStyles;
    font-size: size(sm);
    width: 75%;
  }

  .bg-pattern {
    pointer-events: none;
    margin: -0.7rem;
    position: absolute;
    bottom: 0;
    z-index: -1;
    transform: scale(1.1);
  }
}
