// imports
@use "../abstracts/abstracts" as *;

.hero {
  background-color: color(primary-200);
  position: relative;
  z-index: 1;
  overflow: hidden;

  &__content {
    @include sectionSpacing;
    @include maxWidthSm;
    @include flexCenter;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }

  &__img {
    width: 50%;

    @include responsive(md) {
      width: 80%;
    }
  }

  &__heading {
    @include headingStyles;
    font-size: size(xxl) + 1rem;

    @include responsive(sm) {
      font-size: size(xxl);
    }

    @include responsive(xs) {
      font-size: size(xl);
    }
  }

  &__desc {
    @include textStyles;
    font-size: size(sm);
    width: 75%;

    @include responsive(md) {
      width: 100%;
    }

    @include responsive(xs) {
      font-size: size(xs);
    }

    @include responsive(xxs) {
      display: none;
    }
  }

  .bg-pattern {
    pointer-events: none;
    margin: -0.7rem;
    position: absolute;
    bottom: 0;
    z-index: -1;
    transform: scale(1.1);
  }
}
