// imports
@use "../abstracts/abstracts" as *;

.navbar {
  background-color: color(primary-200);

  .nav-logo {
    width: 10rem;
  }

  .nav-item {
    padding: 0 2rem;

    @media (max-width: 576px) {
      padding: 1rem 0rem;
    }
  }

  .nav-link {
    @include textStyles;
    font-size: size(xs);

    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: underline;
    }
  }

  .navbar-toggler {
    font-size: 2rem;
  }
}
