// imports
@use "../abstracts/abstracts" as *;

.nav {
  background-color: color(primary-200);

  &__content {
    @include maxWidthLg;
    @include sectionSpacing;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 4rem;

    @include responsive(md) {
      display: none;
    }
  }

  &__link {
    @include textStyles;
    color: color(white);
    font-size: size(xs);
    opacity: 0.7;

    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: underline;
    }
  }
}
